section.slider{
	width: 800px;
	margin: 0 auto;
	-webkit-perspective: 1000;
}

section.slides{
	height: 400px;
	display: block;
	position: relative;
	-webkit-transform: translateZ( -200px );
	-webkit-transform-style: preserve-3d;
}

section.slice{
	height: 100%;
	width: 800px;
	float: left;
	-webkit-transform-style: preserve-3d;
}

section.slice > *{
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
}

section.slice > .left,
section.slice > .right{
	width: 400px;
	left: 0px;
	background: #333333;
}

section.front	{ -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d( 0, 0, 200px ); }
section.top		{ -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d( 0, 0, 200px ); }
section.back 	{ -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d( 0, 0, 200px ); }
section.bottom	{ -webkit-transform: rotate3d(1, 0, 0, 270deg) translate3d( 0, 0, 200px ); }
section.left	{ -webkit-transform: rotate3d(0, 1, 0, -90deg) translate3d( 0, 0, 200px ); }
section.right	{ -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d( 0, 0, 200px ); }

section.slider nav a{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	cursor: pointer;
	top: 50%;
	opacity: 0.5;
	margin-top: -25px;
	-webkit-transition: opacity 500ms;
}

section.slider nav a.next{
	background: url('../images/next_arrow.png');
	right: -60px;
}

section.slider nav a.prev{
	background: url('../images/prev_arrow.png');
	left: -60px;
}

section.slider nav a.lock{
	background: url('../images/lock.png');
	margin-top: 0;
	right: -25px;
	top: 0;
	height: 25px;
	width: 25px;
}

section.slider nav a:hover{
	background-position: -50px 0;
	opacity: 1;
}

section.slider section.caption{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 18px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 20px;
	padding: 10px;
	background: rgba( 0, 0, 0, 0.5 );
	color: rgba( 255, 255, 255, 0.5 );
	opacity: 1;
}