section.slider{
	width: 800px;
	margin: 0 auto;
	margin-top: 200px;
	position: relative;
	-webkit-perspective: 1000;
}

section.slides{
	display: block;
	height: 400px;
	-webkit-transform: translateZ( -200px );
	-webkit-transform-style: preserve-3d;
}

section.slice{
	height: 100%;
	width: 800px;
	float: left;
	-webkit-transform-style: preserve-3d;
}

section.slice > *{
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	/*opacity: 0.5;*/
}

section.slice > .left,
section.slice > .right{
	width: 400px;
	left: 0px;
}

section.front	{ background: orange; }
section.top		{ background: red; }
section.back 	{ background: yellow; }
section.bottom	{ background: purple; }
section.left	{ background: black; }
section.right	{ background: black; }

section.front	{ -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d( 0, 0, 200px ); }
section.top		{ -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d( 0, 0, 200px ); }
section.back 	{ -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d( 0, 0, 200px ); }
section.bottom	{ -webkit-transform: rotate3d(1, 0, 0, 270deg) translate3d( 0, 0, 200px ); }
section.left	{ -webkit-transform: rotate3d(0, 1, 0, -90deg) translate3d( 0, 0, 200px ); }
section.right	{ -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d( 0, 0, 200px ); }

section.slider nav{
	position: absolute;
	bottom: -100px;
}

section.slider:last-child nav{
	right: 0;
}