section.slider{
	width: 800px;
	margin: 0 auto;
	margin-top: 200px;
	position: relative;
	-webkit-perspective: 1000;
}

section.slides{
	display: block;
	height: 400px;
	-webkit-transform: translateZ( -200px );
	-webkit-transform-style: preserve-3d;
}

section.slice{
	height: 100%;
	width: 800px;
	float: left;
	-webkit-transform-style: preserve-3d;
}

section.slice > *{
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
}

section.slice > .left,
section.slice > .right{
	width: 400px;
	left: 0px;
	background: #333333;
}

section.front	{ -webkit-transform: rotate3d(0, 0, 0, 0deg) translate3d( 0, 0, 200px ); }
section.top		{ -webkit-transform: rotate3d(1, 0, 0, 90deg) translate3d( 0, 0, 200px ); }
section.back 	{ -webkit-transform: rotate3d(1, 0, 0, 180deg) translate3d( 0, 0, 200px ); }
section.bottom	{ -webkit-transform: rotate3d(1, 0, 0, 270deg) translate3d( 0, 0, 200px ); }
section.left	{ -webkit-transform: rotate3d(0, 1, 0, -90deg) translate3d( 0, 0, 200px ); }
section.right	{ -webkit-transform: rotate3d(0, 1, 0, 90deg) translate3d( 0, 0, 200px ); }

section.slider nav a{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	cursor: pointer;
	top: 50%;
	opacity: 0.5;
	margin-top: -25px;
	-webkit-transition: opacity 500ms;
}

section.slider nav a.next{
	background: url('../images/next_arrow.png');
	right: -60px;
}

section.slider nav a.prev{
	background: url('../images/prev_arrow.png');
	left: -60px;
}

section.slider nav a:hover{
	background-position: -50px 0;
	opacity: 1;
}

section.slider:hover nav a{
	opacity: 1;
}